.draggable-mirror {
    border: 3px solid blue;
}

.draggable-source--is-dragging {
    opacity: 50%;
}

.recipeList {
    width: 50%;
}

.recipeList > .recipeSlot {
    padding: 5px;
}

.recipeList > .recipeSlot > .weekUrl{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0;
}

.recipeList > .recipeSlot > .weekUrl > .weekImg {
    width: auto;
    height: 50px;
    overflow: hidden;
    margin: 0 50px;
}

ul.weekSchedule > .recipeSlot{
    background-color: white;
    display: block;
    border-radius: 15%;
    padding-top: 9px;
}

.weekImg {
    width: 100%;
    display: block;
}

.weekSchedule {
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    background-color: #64C9CF;
    height: 200px;
    width: 90%;
    padding-top: 0;
}

.weekUrl {
    text-decoration: none;
}