@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}

button {
  font-size: 1rem;
  padding: 10px;
  margin: 50px auto;
  display: block;
  background-color: #BAABDA;
  color: black;
}

button:hover {
  background-color: #FFB740;
  border-width: 3px;
  border-color: black;
}

button:active {
  background-color: black;
  color: white;
}

form {
  background-color: #64C9CF;
  width: 75%;
  margin: 0 auto;
  padding: 30px 20px 60px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

h1{
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 7px;
}

input {
  margin: 10px 40px 10px 10px;
  font-size: 0.75rem;
  padding: 5px;
}

input:hover {
  border-color: #4C4C6D;
  border-width: 3px;
}

li {
  background-color: white;
  padding: 20px 0;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}

label {
  font-size: 1.25rem;
  margin: 10px 20px;
  text-align: right;
  padding: 5px 0;
}

ul {
  display: block;
  width: 75%;
  margin: 0 auto 50px;
  background-color: #FDE49C;
  padding: 20px;
}

